<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/HolySongsComposeNoActionBarTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DisplayLyricActivity"
            android:label="歌词"
            android:theme="@style/HolySongsComposeNoActionBarTheme"
            android:parentActivityName=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".AboutActivity"
            android:label="关于"
            android:theme="@style/HolySongsComposeNoActionBarTheme"
            android:parentActivityName=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".SettingsActivity"
            android:label="选项设置"
            android:theme="@style/HolySongsComposeNoActionBarTheme"
            android:parentActivityName=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".VideoSearch"
            android:label="视频搜索"
            android:hardwareAccelerated="true"
            android:exported="false"/>
    </application>
</manifest>
